<div>
<p>welcome to mgamer</p>
</div>
<div class="updel">
<%= link_to path do %>
    <div class="button">परिवर्तयतु</div>
<% end %>
<%= link_to path + "/del" do %>
    <div class="button">विनश्यतु</div>
<% end %>
</div>