<% for i in @games do %>
    <div class="shloks">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div class="info">
            <p><%= i.info.html_safe %></p>
        </div>
    </div>
<% end %>