
<%= link_to "add new course", new_course_path %>
<% for i in @courses do %>
    <div class="courses">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div class="description">
            <p><%= i.description.html_safe %></p>
        </div>

    </div>
<% end %>
