<% for i in @courses do %>
    <div class="courses">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div>
            <img src="<%= rails_blob_url(i.image) %>" />
        </div>

        <div class="info">
            <p><%= i.description.html_safe %></p>
        </div>

        <%= link_to "../course/" + i.cname + "/uview", class: "anone" do %>
            <div class="button">Read more</div>
        <% end %>
    </div>
<% end %>
