<section class="grid-container">
  <div class="left-section">
    <div class="heading-section">
      <h1>ABOUT US</h1>
      <span class="strip"></span>
    </div>

    <div class="para">
      <p class="sanskrit-text">
        संस्कृत-मण्डलः संस्कृतभाषायाः पुनरुत्थानस्य संवर्धनस्य च कृते कश्चन उपक्रमः वर्तते।
      </p>
      <p>
        The Sanskrit Club is an initiative to revive and promote the bedrock for the growth of a large part of the glorious Indian Civilisation, the Sanskrit language.
      </p>
    </div>

    <div class="para">
      <p class="text-center">
        जाड्यं धियो हरति सिंचति वाचि सत्यं,<br />
        मानोन्नतिं दिशति पापमपाकरोति |<br />
        चेतः प्रसादयति दिक्षु तनोति कीर्तिं,<br />
        सत्संगतिः कथय किं न करोति पुंसाम् ||
      </p>
      </div>

      <div class="para">
        (अच्छे मित्रों का साथ बुद्धि की जड़ता को हर लेता है, वाणी में सत्य का संचार करता है, मान और उन्नति को बढ़ाता है और पाप से मुक्त करता है। चित्त को प्रसन्न करता है और हमारी कीर्ति को सभी दिशाओं में फैलाता है। आप ही कहें कि सत्संगति मनुष्यों के भले के लिये क्या नहीं करती!)
      </div>
    
  </div>

  <div class="right-section">
    <div class="grid-wrapper">
      <h1 class="box">नमो नमः! <br/> NAMO NAMAH!</h1>
      <span class="box bluish"></span>
    </div>

    <div class="grid-wrapper">
      <h1 class="box">संस्कृत-मण्डले सुस्वागतम् <br/> Welcome to Sanskrit Club</h1>
      <span class="box brownish"></span>
    </div>
  </div>
</section>

<section class="grid-container">
  <!-- Announcements -->
  <div class="announcement-section">
    <div class="heading-section">
      <h1>ANNOUNCEMENTS</h1>
      <span class="strip"></span>
    </div>

    <div class="announcement">
      <% if @news.present? %>
        <% @news.each do |i| %>
          <div class="box">
            <%= i.news.html_safe %>
          </div>
        <% end %>
      <% else %>
        <p>No announcements at the moment.</p>
      <% end %>
    </div>

    <p class="text-center">
      You have visited this page <b><%= @visit %></b> times.
    </p>
  </div>
</section>
