<div>
  <br><br>
  <u><h1>HOME</h1></u>
  <br>
  <img src="https://dl.dropbox.com/s/9jgjcwlzfvqtqza/pic01.jpg?dl=0">
  <br>
  <h3>NAMO NAMAH!ЁЯЩП</h3>
  <h3>рдирдореЛ рдирдордГ!ЁЯЩП</h3>
  <br><hr>
  <p>The Sanskrit Club is an initiative to revive and promote the bedrock for the growth of a large part of the glorious Indian Civilisation, the Sanskrit language. Knowledge of unknown proportions resides in texts composed in this ancient language, be it the Vedas, the Puranas, the Tantras, or the treatises by other Indian saints and writers. We, as students of a premier technological institution of this country, have taken it upon ourselves to approach Sanskrit with a scientific temperament and bring back to the world all the literary, technological, philosophical and scientific genius, that dwells within the texts of this language.</p>
  <p>рд╕рдВрд╕реНрдХреГрдд-рдордгреНрдбрд▓рдГ рд╕рдВрд╕реНрдХреГрддрднрд╛рд╖рд╛рдпрд╛рдГ рдкреБрдирд░реБрддреНрдерд╛рдирд╕реНрдп рдЪ рд╕рдВрд╡рд░реНрдзрдирд╕реНрдп рдХреГрддреЗ рдПрдХрдГ рдЙрдкрдХреНрд░рдордГ рд╡рд░реНрддрддреЗ ред рдПрддрд╛рдпрд╛рдГ рдкреНрд░рд╛рдЪреАрди-рднрд╛рд╖рд╛рдпрд╛рдГ рдЧреНрд░рдиреНрдереЗрд╖реБ рдмрд╣реБ-рдорд╛рддреНрд░рд╛рдпрд╛рдореН рд╡рд┐рджреНрдпрд╛ рднрд╡рддрд┐, рддрджреНрдпрдерд╛ рд╡реЗрджрд╛рдГ, рдкреБрд░рд╛рдгрд╛рдГ, рддрдиреНрддреНрд░рд╛рдГ, рд╡рд╛ рдЕрдиреНрдп рдорд╣рд░реНрд╖рд┐рднрд┐рдГ рд▓реЗрдЦрдХреИрдГ рдЪ рд▓рд┐рдЦрд┐рддрд╛рдГ рд╢рд╛рд╕реНрддреНрд░рд╛рдГ ред рд╡рдпрдореН рдкреНрд░рдзрд╛рди-рдкреНрд░реМрджреНрдпреЛрдЧрд┐рдХреА-рд╕рдВрд╕реНрдердирд╕реНрдп рдЫрд╛рддреНрд░рд╛рдгрд╛рдореН рд░реБрдкреЗрдг, рд╕рдВрд╕реНрдХреГрддрдореН рд╡реИрдЬреНрдЮрд╛рдирд┐рдХ-рднрд╛рд╡реЗрди рджреГрд╖реНрдЯреБрдореН рддрдерд╛ рдЗрдпрдВ рднрд╛рд╖рд╛рдпрд╛рдГ рдЧреНрд░рдиреНрдереЗрд╖реБ рдпрд╛ рд╕рд╛рд╣рд┐рддреНрдпрд┐рдХ-рддрд╛рдиреНрддреНрд░рд┐рдХ-рддрд░реНрдХрд╡рд┐рджреНрдпрд╛рд╕рдореНрдмрдиреНрдзрд┐рдиреН-рд╡реИрдЬреНрдЮрд╛рдирд┐рдХ рдкреНрд░рддрд┐рднрд╛ рд╡рд░реНрддрддреЗ, рддрд╛рдореН рд╡рд┐рд╢реНрд╡реЗ рдкреБрдирдГ рдЖрдиреЗрддреБрдореН, рдЕрд╕реНрдорд╛рдХрдореН рдХрд░реНрддрд╡реНрдпреЗ рдорд╛рдирдиреНрддреЗ ред</p>
  <hr><br>
  <p>
    The time now is: <%= Time.now %> <br/>
    You have visited this page <%= @visit %> times.<br/>
  </p>

</div>