<div>
    <div class="button">
        <%= link_to "All users", all_users_path, class: "anone" %>
    </div>
    <div class="button">
        <%= link_to "New member", new_member_path, class: "anone" %>
    </div>
    <div class="button">
        <%= link_to "Profile", form_path, class: "anone" %>
    </div>
    <div class="button">
        <%= link_to "Execute SQL", form_path, class: "anone" %>
    </div>
</div>