<div class="libsection"></div>
<div class="libcontainer">
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71g9JiuxbVL._SL1202_.jpg" alt="">
        Rig Veda
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1666249527i/63045053.jpg"
            alt="">
        Yajur veda Taitarya Samhita
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/41SymfAx+rL._SY445_SX342_.jpg" alt="">
        Yajur veda Vajasnaeyi Samhita
    </div>
    <div class="libbox">
        <img class="libbook" src="https://images-na.ssl-images-amazon.com/images/I/41Z15BXLUHL.jpg" alt="">
        Atharva Veda kanda
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://vedah.com/cdn/shop/products/18-Sama-Veda-Uttara-Archika.jpg?v=1638160048&width=1445"
            alt="">
        Sama Veda Uttara Archika
    </div>
    <div class="libbox">
        <img class="libbook" src="https://th.bing.com/th/id/OIP.9MspxQiwmYVhE4wSE2SvQAHaLW?rs=1&pid=ImgDetMain"
            alt="">
        Vedanta Concepts and Application
    </div>
    <div class="libbox">
        <img class="libbook" src="https://www.pustak.org/images/products/2688_Bhartiya-Darshan-Part-1_m.jpg"
            alt="">
        Bhartiya Darshan
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://m.media-amazon.com/images/I/71mcnyDCDDL._UF1000,1000_QL80_.jpg"
            alt="">
        Vivekachudamani
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://upload.wikimedia.org/wikipedia/en/thumb/4/42/Malhotra-Being-Different-2011-FRONT-COVER.jpg/250px-Malhotra-Being-Different-2011-FRONT-COVER.jpg"
            alt="">
        Being Different
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/51PaDVncToL.jpg" alt="">
        Annam Bahu Kurvanti
    </div>
    <div class="libbox">
        <img class="libbook" src="https://media.s-bol.com/qxxpNrXwBy67/550x823.jpg" alt="">
        Hindu Realism
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1677842672i/45059606.jpg"
            alt="">
        Dialogues on the Hindu Philosophy
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71ar0+0SirL._SL1000_.jpg" alt="">
        Navya Nyaya System of Logic
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://th.bing.com/th/id/R.8d084d062149a6749734287c28ead33c?rik=ssDjYJpzGbHyKw&riu=http%3a%2f%2frukmini1.flixcart.com%2fimage%2f300%2f300%2fjsc3ssw0%2fbook%2f2%2f8%2f8%2fthe-purva-mimansa-sutra-mimansa-sutra-of-jaimini-sanskrit-text-original-imafdwe9qtzdyjus.jpeg&ehk=X74Zj7YI6lt2ZJfebWS1QVtvdUn2O856tc0s01Z%2fLQk%3d&risl=&pid=ImgRaw&r=0"
            alt="">
        Purva Mimansa Sutra of Jaimini
    </div>
    <div class="libbox">
        <img class="libbook" src="https://th.bing.com/th/id/OIP.xIYnTK4PC18RtB1WyuLlDwAAAA?rs=1&pid=ImgDetMain"
            alt="">
        Philosophy and Science: An Exploratory Approach to Consciousness
    </div>
    <div class="libbox">
        <img class="libbook" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAW4gSzQ4VCyK25YsYFfAbaKruTUupA8qddA&s" alt="">
        A Collection from Sankara: Commentaries on the Prasthna
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/610HT4RbEgL._SL1400_.jpg" alt="">
        The Prajna Sutras
    </div>
    <div class="libbox">
        <img class="libbook" src="https://sadha.org/cdn/shop/files/01_Tarkapravesha.jpg?v=1697454579&width=533"
            alt="">
        Tarkapravesha
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://pdfcoffee.com/img/200x200/breaking-india-rajiv-malhotra-amp-aravindan-neelakandan-pdf-pdf-free.jpg"
            alt="">
        Breaking India
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81sQatb7F+L._SL1500_.jpg" alt="">
        Bharat Vikhandan
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://cdn.slidesharecdn.com/ss_thumbnails/2-siddhantatypes-181119080137-thumbnail.jpg?width=640&height=640&fit=bounds"
            alt="">
        Siddhanta: Introduction to IKS
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91CuYSR3mWL._SL1500_.jpg" alt="">
        Kutumb Sudridikaran
    </div>
    <div class="libbox">
        <img class="libbook" src="https://pictures.abebooks.com/isbn/9788187276678-es.jpg" alt="">
        Dhaturoopnandini
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81kiZRB323L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Jeevan Ka Bhartiya Pratimaan
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019-005/ham703.jpg"
            alt="">
        Vigyan Garima Sindhu
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://www.exoticindiaart.com/images/products/original/books-2019-014/naw728.webp" alt="">
        Vijanana-Sarathih
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://www.exoticindiaart.com/images/products/original/books/indian_mathematics_in_sanskrit_concepts_and_achievements_idk893.webp"
            alt="">
        Indian Mathematics in Sanskrit
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWsjiQIw1ugDFrRyWtwVb6r-AjRTGr9uVdCg&s"
            alt="">
        Ancient Indian Science and Its Relevance to the Modern World
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://bharatavani.in//public/wp-content/uploads/sites/7/2018/05/Medical-Sciences-A-Fundamental-Glossary-English-Hindi.png"
            alt="">
        Medical Sciences : A Fundamental Glossary
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://bharatavani.in//public/wp-content/uploads/sites/3/2019/01/A-Fundamental-Glossary-In-Botany-English-Hindi.jpg"
            alt="">
        Botany: A Fundamental Glossary
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://bharatavani.in//public/wp-content/uploads/sites/3/2017/12/CSTT-AGRICULTURE-A-FUNDAMENTAL-GLOSSARY-BVP-345.jpg"
            alt="">
        Agriculture: A Fundamental Glossary
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://bharatavani.in//public/wp-content/uploads/sites/3/2016/03/Biotechnology-A-Fundamental-Glossary-English-Hindi.jpg"
            alt="">
        Biotechnology: A Fundamental Glossary
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7cr8C-ZwgNbAkBGowcymx2ugGJXHwv7afhw&s"
            alt="">
        Science in Sanskrit
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61+DtrlGHmL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Pravesh
    </div>

    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81O4yqsLFVL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Sanskrit Swayam Shikshak
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61DCuIxlW9L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Dimension of Panini Grammar
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStcDF5J2gUnRLiq3Qw35y1LI83z-Z-w01Bgg&s"
            alt="">
        Manogatam (Mann ki baat)
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81BVLHXQF9L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Kaustubhamani
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/717lqx23qaL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Art Aesthetics and Philosophy
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://rukminim2.flixcart.com/image/850/1000/xif0q/book/p/d/q/kumbha-original-imags54hrgqpsprm.jpeg?q=20&crop=false"
            alt="">
        Kumbha
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/A1LrNVjH0OL.jpg" alt="">
        Natyasastra-Revisited
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://rukminim2.flixcart.com/image/850/1000/kjbr8280-0/book/u/w/o/studies-in-the-natyasastra-original-imafyx94hjyfhrwk.jpeg?q=90&crop=false"
            alt="">
        The Natyasastra
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/41OkiaMCTBL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Introduction to Bharata's Natyasastra
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books/nza729.jpg" alt="">
        Rati-Bhakti
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71brz-E4EqL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        The Circle of Memory
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81FzZAIe3YL._UF1000,1000_QL80_.jpg" alt="">
        The Wishing Tree
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81LcrYDEa2L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Literary Theory
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019-002/baa584.jpg"
            alt="">
        Bharatiyaganitaparampara
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://static.wixstatic.com/media/b04f78_83fc5e8596124665b4309f4aeabacad9~mv2.png/v1/fill/w_280,h_128,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/image.png"
            alt="">
        Bharatiya Ganita Level-2
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://static.wixstatic.com/media/b04f78_83fc5e8596124665b4309f4aeabacad9~mv2.png/v1/fill/w_280,h_128,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/image.png"
            alt="">
        Bharatiya Ganita Level-1
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgaiHTQl4BhtKxyeUIvKCzCQycD275jT0Plg&s"
            alt="">
        Indian Contributions to Maths and Astronomy
    </div>
    <div class="libbox">
        <img class="libbook" src="https://www.mlbd.in/cdn/shop/products/9788120817777.jpg?v=1636714401&width=677"
            alt="">
        Lilavati of Bhaskaracharya
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61uZ9CnetdL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Tantrasangraha
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91zqN+Yg3rL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Samsidhi
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91lvHlJWk0L.jpg" alt="">
        The Battle for Sanskrit
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61il3eW-CsL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Thank You India
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://images-eu.ssl-images-amazon.com/images/I/614UEiOtk1L._AC_UL210_SR210,210_.jpg" alt="">
        Academic Hinduphobia
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71EWqyf6YcL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Indian Knowledge System 1
    </div>
    <div class="libbox">
        <img class="libbook" src="https://padhegaindia.in/wp-content/uploads/2024/02/9788124603369-4.webp" alt="">
        Indian Knowledge System 2
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71Zpzp9-uhL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        In Search of the Cradle of Civilization
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61ZXQKeDL6L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        History of India as It Happened
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcb2jm66DMlen0idLdl7TcaUSnWUEqlQWfIQ&s"
            alt="">
        Sister Nivedita
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91j0mRpSdiL.jpg" alt="">
        Indra's Net
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61hWHBjvdqL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Eminent Historians
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61-x3ZnIw8L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Pride of India
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1401965648i/22428353.jpg"
            alt="">
        Rashtra Jivan Ki Disha
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://rukminim2.flixcart.com/image/850/1000/regionalbooks/c/p/z/shaktiputra-shivaji-original-imaedwybhygnjftk.jpeg?q=90&crop=false"
            alt="">
        Shakti Putra Shivaji
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81tLAIB9RwL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        The Lost River
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61UUcroZu3L.jpg" alt="">
        Netaji:Gumnami baba aur sarkari jooth
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/A188BJwS5lL.jpg" alt="">
        Mantra Yoga and Primal Sound
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91Lv1gZAhKL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Mudras and Health Perspective
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019-025/ubj559.jpg"
            alt="">
        Yoga - Vijnanam
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/A1Z935a+N+L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Patanjali Yoga Pradeep
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/41strMOwX7L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        The Astronomical Code of Rigveda
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/21-JzqnOZ4L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Computing Science in Ancient India
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://archive.org/services/img/natureofphysical0000henr_u2q1/full/pct:200/0/default.jpg"
            alt="">
        The Nature of Physical Reality
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/516VZsGIhoL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Quantum Physics of Consciousness
    </div>

    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61LcP2mMnNL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Matter and Mind
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/51Bd0Ne5ixL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Physics in Ancient India
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/713J5+FGG3L.jpg" alt="">
        Vedic Physics
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/51NJYGxyxIL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Introduction to Vaidic Physics
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71JMLfGtY+L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Parasaratantra
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61rstvv8uEL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Intelligent Field
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91Q-6x4ZV4L._UF1000,1000_QL80_.jpg" alt="">
        Ancient Hindu Science
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019-002/baa343.jpg"
            alt="">
        History of science in India
    </div>
    <div class="libbox">
        <img class="libbook" src="https://imgv2-2-f.scribdassets.com/img/document/392047549/original/eaf5a8f604/1?v=1" alt="">
        Ved Vigyan Alok-Volume 1
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81jUqJ1KTfL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Ved Vigyan Alok- Volume 2
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://cdn.exoticindia.com/images/products/original/books-2017/nzl763.webp" alt="">
        Ved Vigyan Alok- Volume 3
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://cdn.exoticindia.com/images/products/original/books-2017/nzl763.webp" alt="">
        Ved Vigyan Alok- Volume 4
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61LOVuuPQoL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Vedic Science and Technology
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/yoga-1front.jpg" alt="">
        Yogasya Bhasha Part 1
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://samskritpromotion.in/books/yoga-2front.jpg" alt="">
        Yogasya Bhasha Part 2
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://samskritpromotion.in/books/yoga-3Front.jpg" alt="">
        Yogasya Bhasha Part 3
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://samskritpromotion.in/books/yoga-4Front.jpg" alt="">
        Yogasya Bhasha Part 4
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71h93lU7oJL._UF1000,1000_QL80_.jpg" alt="">
        Fundamentals of Ayurveda
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/aharpaddhatih_front.jpg" alt="">
        Ayurvedic Dietetics Part 1
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/aharpaddhatih_front.jpg" alt="">
        Ayurvedic Dietetics Part 2
    </div>

    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/710gGMrjtrL.jpg" alt="">
        Language of Ayurveda Part 1
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/710gGMrjtrL.jpg" alt="">
        Language of Ayurveda Part 2
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/710gGMrjtrL.jpg" alt="">
        Language of Ayurveda Part 3
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91yoac9ZS0L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Ayurvedic Medicinal Plants
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1451892822i/28445846.jpg"
            alt="">
        Ashtangahridayam 1
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://lh3.googleusercontent.com/-eBzR9bCqspLT4Qdrw-XuScCMPhxM19hmEhC3S-EqNnk4GjMgndRLUnFfUmQBw7UN5tkay_i2MDgMsfr2FenpA=w974"
            alt="">
        Ashtangahridayam 2
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://lh3.googleusercontent.com/-eBzR9bCqspLT4Qdrw-XuScCMPhxM19hmEhC3S-EqNnk4GjMgndRLUnFfUmQBw7UN5tkay_i2MDgMsfr2FenpA=w974"
            alt="">
        Ashtangahridayam 3
    </div>

    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/710gGMrjtrL.jpg" alt="">
        Ayurvedic way of life
    </div>

    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61O7k5M5IBL._AC_SX148_SY213_QL70_.jpg"
            alt="">
        Language of Vedanta Part 1
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/Vedanta-2.jpg" alt="">
        Language of Vedanta Part 2
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/Vedanta-3.jpg" alt="">
        Language of Vedanta Part 3
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/Vedanta-4.jpg" alt="">
        Language of Vedanta Part 4
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71JCqRgyoTL.jpg" alt="">
        Language of Subhashitas
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSos8noWFtZgXojcMqp2dct7LLXwXluuezhrQ&s"
            alt="">
        Language of Raghuvamsha
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://cdn.exoticindia.com/images/products/thumbnails/t800x600/books-2019-002/baa663.jpg"
            alt="">
        Language of Ramayana
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgDzJY2zxtJEmDhQgZSF8UIwFZvkXDfXYb6Q&s"
            alt="">
        Language of Mahabharata 1
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgDzJY2zxtJEmDhQgZSF8UIwFZvkXDfXYb6Q&s"
            alt="">
        Language of Mahabharata 2
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREjATtFiszcDctnCE44-69iBGOMVkPtlKVoQ&s"
            alt="">
        Language of Jyotisha
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019-002/baa918.jpg"
            alt="">
        Language of Jyotisha : Suryasidhanta
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROFxprJzFFDg3j3o3JYTLZKPOXfKJtjTfllA&s"
            alt="">
        Language of Jyotisha : Golparibhasha
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71QOpCI2K3L.jpg" alt="">
        A Primer to Bharatiya Ganitam
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019-002/baa584.jpg"
            alt="">
        Bharatiyaganitaparampara
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/Aryabhatiyam_front_Normal.jpg" alt="">
        Aryabhatiyam (Ganitapadah)
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/716xcXYiTmL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Language of Arts
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019-002/baa674.jpg"
            alt="">
        Language of Arts : Sangitaratnakarah
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/Nattey-1_front.jpg" alt="">
        Language of Arts : Natyasastram Part 1
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/Nattey-1_front.jpg" alt="">
        Language of Arts : Natyasastram Part 2
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7OBOOYesLwCl7VbqMId0cEQqWn9US8Yq2iA&s"
            alt="">
        Buddhism : Religion and Philosophy
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuh8mPBcPOdIggTI3_ESvjU37U0EJdJrxNWw&s"
            alt="">
        Buddhism : Jatakamala (5 stories)
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/Nyaya.jpg" alt="">
        Nyayasutrani 1
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpWHoBlR4zuppqwbZhMWVF9g4Cn4yoeVzhGg&s"
            alt="">
        Nyayasutrani 2
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/Prashasanasyabhasha%20front.jpg" alt="">
        Language of Administration
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/Arthashastra_Front.jpg" alt="">
        Language of Arthasastram (Bharatiya Governance)
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRelAcAPXZuRI4SUB2teZq3xAD1Uk2APClH5Q&s"
            alt="">
        Language of Vastushastra
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://www.exoticindiaart.com/images/products/original/books-2019-002/baa561.webp" alt="">
        Language of Vastushastra : Manusyalayacandrika
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019/baa679b.webp"
            alt="">
        Language of Dharmasastra
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP8mY7Q7ExQeoY5FZKIGwsnlkXMRAx3jWzYQ&s"
            alt="">
        Mahabharata 1
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/717TP00Iw3S._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Mahabharata 2
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.papertrell.com/005/835/005835885_480X320FW.jpg" alt="">
        Mahabharata 3
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.papertrell.com/005/835/005835885_480X320FW.jpg" alt="">
        Mahabharata 4
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.papertrell.com/005/835/005835885_480X320FW.jpg" alt="">
        Mahabharata 5
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.papertrell.com/005/835/005835885_480X320FW.jpg" alt="">
        Mahabharata 6
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.papertrell.com/005/835/005835885_480X320FW.jpg" alt="">
        Mahabharata 7
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.papertrell.com/005/835/005835885_480X320FW.jpg" alt="">
        Mahabharata 8
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.papertrell.com/005/835/005835885_480X320FW.jpg" alt="">
        Mahabharata 9
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.papertrell.com/005/835/005835885_480X320FW.jpg" alt="">
        Mahabharata 10
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/817e-eg+JwL._UF1000,1000_QL80_.jpg" alt="">
        The Valmiki Ramayana 1
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81bRHe2Q+mL._UF1000,1000_QL80_.jpg" alt="">
        The Valmiki Ramayana 2
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91rQCEsTiOL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        The Valmiki Ramayana 3
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71PfP0E5UCL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        The Bhagavata Purana 1
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81uK8LU8VkL.jpg" alt="">
        The Bhagavata Purana 2
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71nKL25u98L._UF1000,1000_QL80_.jpg" alt="">
        The Bhagavata Purana 3
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71nDBHiOzIL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        The Bhagavad Gita
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://rukminim2.flixcart.com/image/850/1000/xif0q/regionalbooks/y/f/o/tirukkural-tamil-english-with-english-meaning-original-imaghctveddzsh32.jpeg?q=20&crop=false"
            alt="">
        Tirukkural
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/41Iv7A1LycL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Rasarnava
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91ay4wXGKsL.jpg" alt="">
        Ram - Scion of Ikshvaku
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://rukminim2.flixcart.com/image/850/1000/kws5hu80/regionalbooks/a/u/m/shrimadvalmikiya-ramayan-part-1-2-with-hindi-translation-original-imag9e6kvycnfe4e.jpeg?q=20&crop=false"
            alt="">
        Shri Valmiki Ramayana(Hindi Translation) - Volume 1
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3_1c-M-6Qt66CGbBG9eSd7ocgeQ2H2dRsQ&s"
            alt="">
        Abridged Valmiki Ramayan
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/51SU4gIudLL._UF1000,1000_QL80_.jpg" alt="">
        History and Reflection of Mahabharata Era
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81EvQduOYSL._UF1000,1000_QL80_.jpg" alt="">
        Srimadbhagvat Geeta Padarthakosha
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019-002/baa155.jpg"
            alt="">
        Siksha - Bhartiya Paripeksha
    </div>
    <div class="libbox">
        <img class="libbook" src="https://samskritpromotion.in/books/TT%20Manula%20vol-1%20front.jpg" alt="">
        Handbook for Teachers Vol - 1
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ38tK6G97iDM9P831bSNQTR1-QFiYdLXUgdw&s"
            alt="">
        Handbook for Teachers Vol - 2
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/book-09-2024/hba119.jpg"
            alt="">
        Ashtadhyayi Praveshah-Pratham Bhag
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81WrwHHyIeL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Ashtadhyayi Praveshah-Dwitiya Bhag
    </div>

    <div class="libbox">
        <img class="libbook"
            src="https://www.hindueshop.com/wp-content/uploads/2023/08/samskrita-bhashapravesh.jpg" alt="">
        Bhashapraveshah
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyHIFC6PddpN3dn6UP3NfUsB63h1E3yakHfA&s"
            alt="">
        SanskritSwadhyay-Vakyavyavaharah
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://imgv2-2-f.scribdassets.com/img/document/368971995/original/8900d0f7b8/1?v=1" alt="">
        SanskritSwadhyay-Sambhashanam
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUHyLY0zVW3DAucbgF7cA9-kk19-upv_OgHQ&s"
            alt="">
        SanskritSwadhyay-Varnmala
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://imgv2-2-f.scribdassets.com/img/document/410843829/original/80e26383cd/1?v=1" alt="">
        SanskritSwadhyay-Parishishtam
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://archive.org/services/img/sanskritsvadhyayavakyavyavaharairashtriyasanskritsansthan/full/pct:200/0/default.jpg"
            alt="">
        SanskritSwadhyay-Vakyavistarah
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/51mS9EQBuGL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Sanskrit Pravesh(coursebooks)*2
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81f7tA02gZL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Sapiens- A Graphic History
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/51h4uZWBS9L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Gods, Sages and Kings
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/91drDihw-HL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Narada Shilpashastra
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81S6xdrZhzL._UF1000,1000_QL80_.jpg" alt="">
        A manifesto for Change
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61ZozU9BPvL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Ganitagannadi mirror of mathematics
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/51df2NDgL3L._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Vyaktitva Krititva evam Vichar
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEQzQekWH7vXZz2DharORcjAVXtDR3lLhk4g&s"
            alt="">
        Modian Consensus
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/71IOd2TLmfL.jpg" alt="">
        The Computational Meme
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81BBAlaZvNL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Deendayal Upadhyay- Rachna Sanchayan
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/718aEV+GLnL.jpg" alt="">
        Autobiography of a Yogi
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/A1YBF5o+9iL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Sankara Dig Vijaya
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/41zS3T0g9fL._AC_UF1000,1000_QL80_.jpg"
            alt="">
        Vikasa Mantras
    </div>
    <div class="libbox">
        <img class="libbook" src="https://cdn.exoticindia.com/images/products/original/books-2019-006/hat510.jpg"
            alt="">
        Subhashitam Sanskritam
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/81oIS3SDq5L.jpg" alt="">
        Meru Prastaar
    </div>
    <div class="libbox">
        <img class="libbook"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKHsOipfRQYgpMW77Verg1mMf7UpB_y5OjYg&s"
            alt="">
        Connecting through Culture
    </div>
    <div class="libbox">
        <img class="libbook" src="https://m.media-amazon.com/images/I/61SY8IBYqXL.jpg" alt="">
        The Holy Science
    </div>
</div>
