<div class="title">
    <img src="https://dl.dropboxusercontent.com/s/ra8uwhdf916fqkm/bgm.jpg?dl=0" alt="title" />
</div>



<div class="event1">
    <div class="heading">
        <h3>A BREAKTHROUGH SESSION FOR REDEFINING ARTIFICIAL INTELLIGENCE</h3>
    </div>
    <img src="https://www.iitr.ac.in/sanskritclub/img/AI.jpeg" alt="event 1" />
    <p> SANSKRIT CLUB IITR presents <br>
        Can we build CONSCIOUS MACHINE ? <br>
        with Vedantic and Modern prospective.<br>
        LINK: http://tiny.cc/Concious_Machines <br>
    </p>

<div class="event2">
    <div class="heading">
        <h3>ANSKRIT EDUCATION AND ITS FUTURE IN MODERN INDIA</h3>
    </div>
    <img src="https://www.iitr.ac.in/sanskritclub/img/NED.jpeg" alt="event 2" />
    <p>
    Namo Namah, On National Education Day, Sanskrit Club presents an open discussion on "Sanskrit Education and its Future in Modern India." "आधुनिक भारत में संस्कृत शिक्षा और उसका भविष्य." According to NEP2020, Now there will focus on the Promotion of Indian Languages, Arts, and Culture.<br>
    Sanskrit is one of the official 22 languages of India( Eighth Schedule of the Constitution of India) is facing severe difficulties on many fronts. For languages to remain relevant and vibrant, there must be a continuous stream of high-quality learning and Vast literature in any language along with and spoke the language. The discussion will focus mainly on the education of Sanskrit in modern time & it's a comparison with those of Ancient days& Future of Sanskrit Education and role of Sanskrit in Education sector.
Along with that, In the light of Taittiriya Upanishad, We will discuss the Need for Sanskrit knowledge systems related to values & wisdom in students & teachers & how to make them part of the education system as a whole. Date: 11th November 2021 Time: 7 PM Join Microsoft Teams Here:tiny.cc/scDiscussion
or use this code 04tlkma
