<% for i in @events do %>
    <div class="events">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div class="poster">
            <img src="<%= rails_blob_url(i.image) %>" />
        </div>

        <div class="info">
            <p><%= i.info.html_safe %></p>
        </div>

    </div>
<% end %>
