<div class="events-page">
<div class="page-header">
    <h1>कार्यक्रमाः</h1>
    <p class="subtitle">सर्वाः कार्यक्रमाः अन्वेषयतु</p>
</div>

  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <div class="event-image">
          <%= image_tag rails_blob_url(event.image), alt: event.name %>
        </div>
        
        <div class="event-content">
          <h2 class="event-title"><%= event.name %></h2>
          <div class="event-info">
          <%= truncate(strip_tags(event.info), length: 150) %>
          </div>
          <div class="e-button">
            <%= link_to "अधिकं पठतु", event_uview_path(event.id), class: "anone" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

