<div class="event-detail-page">
  <div class="event-detail-container">
    <div class="event-detail-header">
      <h1 class="event-detail-title"><%= @event.name %></h1>
    </div>

    <div class="event-detail-image">
      <%= image_tag rails_blob_url(@event.image), alt: @event.name %>
    </div>

    <div class="event-detail-content">
      <%= @event.info.html_safe %>
    </div>

    <div class="back-button">
      <%= link_to "← प्रतिगच्छतु", events_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>