SOME USEFUL LINKS<br>
For the TARGET संस्कृतम् Hackathon and general resources<br>
<br>
Click a title below to open a world of links -
<ul><li><link>Existing TA-RG-ETs in Samskritam</link></li>
<li><link>Other ideas usable for Samskritam</link></li>
<li><link>General Resources</link></li></ul>