<% for i in @teams do %>
    <div class="teams">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div class="team">
            <p><%= i.email %></p>
        </div>
    </div>
<% end %>
