<% for i in @shloks do %>
    <div class="shloks">
        <div class="title">
            <%= i.title %><br/>
        </div>

        <div class="shlok">
            <p><%= i.shlok.html_safe %></p>
        </div>

        <div>
            <audio src="<%= rails_blob_url(i.audio) %>" controls/>
        </div>

        <div class="translation">
            <%= i.translation.html_safe %>
        </div>
    </div>
<% end %>
