<div class="overf">
    <div class="marks">
            <div class="th">Regid</div>
            <div class="th">Email</div>
            <div class="th">Marks</div>
        <% for i in @participants do %>
                <div class="td">
                    <%= i["regid"] %>
                </div>
                <div class="td">
                    <%= i["email"] %>
                </div>
                <div class="td">
                    <%= i["exam_1_" + @cname] %>
                </div>
        <% end %>
    </div>
</div>