<div class="button">
    <%= link_to "प्रतिगच्छतु", course_uview_path(params[:cname]), class: "anone" %>
</div>

<div>
    <br/>
    <b>This exam is closed.<br/>
    The duration was 3pm, 17th July 2022 (Monday) to 3pm, 18th July 2022 (Tuesday).</b>
</div>