<div class="members-list-container">
  <div class="members-header">
    <h1>ALL MEMBERS</h1>
    <p>Manage team members and their information</p>
    <%= link_to member_area_path, class: "back-button" do %>
      <i class="fa-solid fa-arrow-left"></i> Back to Member Area
    <% end %>
  </div>

  <div class="members-grid">
    <% if @members.empty? %>
      <div class="no-members">
        <i class="fa-solid fa-users-slash"></i>
        <p>No members found</p>
      </div>
    <% else %>
      <% @members.each do |member| %>
        <div class="member-card">
          <% if member.image.present? %>
            <div class="member-image">
              <%= image_tag rails_blob_url(member.image), alt: member.name %>
            </div>
          <% else %>
            <div class="member-image placeholder">
              <i class="fa-solid fa-user"></i>
            </div>
          <% end %>
          
          <div class="member-info">
            <h3><%= member.name %></h3>
          </div>
          
          <div class="member-actions">
            <%= link_to member_delete_path(member.id), method: :delete, 
                data: { confirm: "Are you sure you want to delete #{member.name}?" }, 
                class: "delete-button" do %>
              <i class="fa-solid fa-trash"></i> Delete
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>