/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .header {
    margin: auto;
    font-size: 2rem;
    background-color: rgba(255, 166, 0, 0.6);
    border-radius: 1.5rem;
    padding: 1.5rem;
}
.footer {
    margin: 1rem auto 0;
    font-size: 1.2rem;
    background-color: rgba(255, 166, 0, 0.6);
    border-radius: 1.5rem;
    padding: 1.5rem;
}
.footer a {
    color: rgb(100, 100, 100);
}
.footer a:visited {
    color: rgb(100, 100, 100);
}
.footer a:hover {
    color: rgb(150, 0, 0);
}
.navbar {
    font-size: 1.2rem;
}
.button {
    margin: 1em auto;
    font-size: 1rem;
    background-color: rgba(255, 166, 0, 0.6);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    cursor: pointer;
    width: fit-content;
}
.logger {
    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    justify-items: center;
}

.conts {
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    margin: 1rem auto;
    width: 90%;
    padding: 1rem 0;
    border-radius: 0.5rem;
}
.conts > .title {
    margin: 1rem auto 0.5rem;
    width: 90%;
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
}
.conts > .cont:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.95);
    height: 100%;
    left: 0;
    opacity: 0.65;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.conts > .cont {
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #000;
    background-image: url(https://dl.dropbox.com/s/gz96744xfcfy54o/bg.jpeg?dl=0);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.conts > .cont > p {
    color: #f2f2f2;
    position: relative;
    z-index: 2;
}
.conts > .translation {
    margin: 1rem auto;
    font-size: 1.2rem;
    width: 90%;
    text-align: left;
}
.conts > .updel {
    display: flex;
    margin: auto;
    justify-content: center;
}
.conts .updel > a {
    text-decoration: none;
    color: black;
}
.conts > .updel > a:visited {
    color: black;
}
.conts > .updel > a + a {
    margin-left: 1rem;
}

.textfield {
    width: 60%;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}
.textarea-1 {
    height: 6rem;
    width: 60%;
    text-align: center;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
.textarea-2 {
    height: 10rem;
    width: 60%;
    text-align: left;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}