
 body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .header {
    margin: auto;
    font-size: 2rem;
    background-color: rgba(255, 166, 0, 0.6);
    border-radius: 1.5rem;
    padding: 1.5rem;
}
.footer {
    margin: 1rem auto 0;
    font-size: 1.2rem;
    background-color: rgba(255, 166, 0, 0.6);
    border-radius: 1.5rem;
    padding: 1.5rem;
}
.footer a {
    color: rgb(100, 100, 100);
}
.footer a:visited {
    color: rgb(100, 100, 100);
}
.footer a:hover {
    color: rgb(150, 0, 0);
}
.navbar {
    font-size: 1.2rem;
}
.button {
    margin: 1em auto;
    font-size: 1rem;
    background-color: rgba(255, 166, 0, 0.6);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    cursor: pointer;
    width: fit-content;
}
.logger {
    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    justify-items: center;
}
