// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.courses {
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    margin: 1rem auto;
    width: 90%;
    padding: 1rem 0;
    border-radius: 0.5rem;
    
    .title {
        margin: 1rem auto 0.5rem;
        width: 90%;
        text-align: left;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .image {
        width: 90%;
        margin: auto;
    }
    .info {
        margin: 1rem auto;
        font-size: 1.2rem;
        width: 90%;
        text-align: left;
    }
}
.marks {
    display: grid;
    grid-template-columns: auto auto auto;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.th {
    font-weight: bold;
}
.td, .th, .fbtdl {
    padding: 0 0.4rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.fbtdl {
    text-align: left;
}
@media screen and (min-width:540px) {
    .feedback {
        grid-template-columns: auto auto auto;
    }
}