// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.games {
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    margin: 1rem auto;
    width: 90%;
    padding: 1rem 0;
    border-radius: 0.5rem;
    
    .title {
        margin: 1rem auto 0.5rem;
        width: 90%;
        text-align: left;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .info {
        margin: 1rem auto;
        font-size: 1.2rem;
        width: 90%;
        text-align: left;
    }
}