// Place all the styles related to the Shlok controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.shloks {
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    margin: 1rem auto;
    width: 90%;
    padding: 1rem 0;
    border-radius: 0.5rem;
    
    .title {
        margin: 1rem auto 0.5rem;
        width: 90%;
        text-align: left;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .shlok:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.95);
        height: 100%;
        left: 0;
        opacity: 0.65;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .shlok {
        margin: 1rem auto;
        padding: 1rem;
        font-size: 1.7rem;
        background-color: #000;
        background-image: url(https://dl.dropbox.com/s/gz96744xfcfy54o/bg.jpeg?dl=0);
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        position: relative;

        p {
            color: #f2f2f2;
            position: relative;
            z-index: 2;
        }
    }
    .translation {
        margin: 1rem auto;
        font-size: 1.5rem;
        width: 90%;
        text-align: left;
    }
}