// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users {
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 90%;
    overflow-x: auto;
}
.users, .users th, .users td {
    border: 1px solid black;
    border-collapse: collapse;
}
.profile {
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    margin: 1rem auto;
    width: max-content;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
}
.uform {
    .utextfield, select {
        font-size: 1.1rem;
        width: 80%;
        border: 0;
        border-bottom: 1px solid black;
        box-shadow: 0 2.5px 1px rgba(255,166,0,0.6);
    }
    @media screen and (min-width:540px) {
        .utextfield, select {
            width: 25%;
        }
    }
    // .label {
    //     font-weight: bold;
    // }
    // .radio {
    //     text-align: left;
    //     width: 25%;
    //     margin: auto;
    // }
}