// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users {
    white-space: nowrap;
}
.overu, .overp {
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 90%;
    overflow-x: auto;
}
.overp {
    @media screen and (min-width:540px) {
        width: max-content;
    }
}
.users, .users th, .users td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0 0.4rem;
}
.profile {
    text-align: left;
    white-space: nowrap;
}
// .uform {
    
//     // .label {
//     //     font-weight: bold;
//     // }
//     // .radio {
//     //     text-align: left;
//     //     width: 25%;
//     //     margin: auto;
//     // }
// }