// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.news {
    width: 90%;
    margin: auto;
}

.news1 {
    box-shadow: -3px 3px 10px rgb(100, 100, 100);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 238, 0, 0.836);
    font-weight: bold;
    // color: rgb(255, 166, 0);
}
.sanskrit-club {
    width: 90%;
    margin: 1em auto 0;
}
.motto {
    width: 90%;
    margin: auto;
    font-size: 1.2em;
    text-align: left;
}
hr {
    width: 90%;
}