<div class="overf">
    <table class="feedback">
        <tr>
            <th>Email</th>
            <th>Type</th>
            <th>Feedback</th>
        </tr>
        <% for i in @feedbacks do %>
            <tr>
                <td>
                    <%= i.email %><br/>
                </td>

                <td>
                    <p><%= i.typef %></p>
                </td>

                <td>
                    <%= i.feedback.html_safe %><br/>
                </td>
            <tr/>
        <% end %>
    </table>
</div>