<form >
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value=><br>
  <label for="type of feedback">Type of Feedback:</label><br>
  <input type="text" id="typeoffeedback" name="type of feedback"><br>
  <label for="feedback">Feedback:</label><br>
  <input type="text" id="feedback" name="feedback"><br><br>
  <input type="submit" value="Submit">
</form>